# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/

# Environment
.venv/
venv/
env/
.env

# IDE Folders
.vscode/
.idea/

# Mac files
.DS_Store


# Documentation build
docs/_build/
docs/build/
docs/source/_autosummary/
docs/source/_templates
docs/source/_static